# [Data Train] Competição ML #1 - Titanic
## CRISP-DM: Deployment
**Autor:** Wanderson Marques - wdsmarques@gmail.com

Esse Jupyter Notebook contém a predição enviada ao **Kaggle**. Considerando a metodologia CRISP-DM, essa atividade refere-se à última fase, o deployment. 

<img src="imgs/deployment.jpg" />

### Carregar bibliotecas

In [1]:
import pandas as pd
import joblib

### Carregar dataset de teste

In [2]:
dataset = pd.read_csv('datasets/test.csv')
dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,132,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
1,39,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
2,756,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
3,660,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
4,799,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,0,0,2685,7.2292,NaN,C

### Carregar modelo preditivo

Nesse momento o modelo preditivo já foi treinado, com os dados de treino.

In [3]:
model = joblib.load('models/model.pkl')

### Preparar os dados de validação

Para imputação em valores nulos foram utilizados os valores padrão do conjunto de treino. Age = 29.91, Embarked = S, Sex = male, Fare = 32.02

In [4]:
# Descartar colunas textuais e identificador
identificador = dataset[['PassengerId']]
dataset.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'Sex', 'Embarked'], axis=1, inplace=True)

# Imputar valores nulos usando padrões do conjunto de treino
dataset.loc[dataset['Age'].isnull(), 'Age'] = 29.37

### Realizar predição para conjunto de teste

In [5]:
y_pred = model.predict(dataset)

### Salvar resultado da predição

In [6]:
resultado = pd.concat([identificador, pd.DataFrame(y_pred, columns=['Survived'])], axis=1)
resultado.head()

   PassengerId  Survived
0          132         0
1           39         0
2          756         1
3          660         1
4          799         0

In [7]:
resultado.to_csv('datasets/submission.csv', index=False)